:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* Start flex  */
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-ib {
  display: inline-block;
}

.all-center {
  justify-content: center;
  align-items: center;
}

.v-c {
  align-items: center;
}
.h-c {
  justify-content: center;
}

.d-g2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.gap-20 {
  gap: 20px;
}

.space-b {
  justify-content: space-between;
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}
/* End flex  */

.p-r {
  position: relative;
}

.txt-c {
  text-align: center;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center !important;
  }
  .flex-col-mobile {
    flex-direction: column;
  }
  .gap-20-mobile {
    gap: 20px;
  }
}

.txt-trans {
  text-transform: capitalize;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-25 {
  font-size: 25px;
}

.c-black {
  color: black;
}
/* Start Padding */
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-15 {
  padding-top: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.pt-20 {
  padding-top: 20px;
}
/* End Padding */

.bg-white {
  background-color: white;
}
/* Start Margin */
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-15 {
  margin-right: 15px;
}
/* End Margin */

/* Start rad */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}

.rad-half {
  border-radius: 50%;
}
/* End rad */

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.fw-bold {
  font-weight: bold;
}

.btn-shape {
  border-radius: 6px;
  padding: 4px 10px;
}

.w-fit {
  width: fit-content;
}

.c-white {
  color: white;
}

.c-green {
  color: var(--green-color);
}

.c-blue {
  color: var(--blue-color);
}

.c-orange {
  color: var(--orange-color);
}

.c-red {
  color: var(--red-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-green {
  background-color: var(--green-color);
}
.bg-orange {
  background-color: var(--orange-color);
}

.bg-eee {
  background-color: #eee;
}

.bg-red {
  background-color: var(--red-color);
}

.c-grey {
  color: var(--grey-color);
}

.b-none {
  border: none;
}
/* Borders */
.b {
  border: solid 1px #eee;
}
.bb {
  border-bottom: 1px solid #eee;
}
.bt {
  border-top: 1px solid #eee;
}
.br {
  border-right: 1px solid #eee;
}

.border-ccc {
  border: #ccc solid 1px;
}
/* Borders */

.ol-none {
  outline: none;
}