:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* Start flex  */
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.all-center {
  justify-content: center;
  align-items: center;
}

.v-c {
  align-items: center;
}
.h-c {
  justify-content: center;
}

.d-g2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.gap-20 {
  gap: 20px;
}

.space-b {
  justify-content: space-between;
}
/* End flex  */

.p-r {
  position: relative;
}

.txt-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

.c-black {
  color: black;
}
/* Start Padding */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}
/* End Padding */

.bg-white {
  background-color: white;
}
/* Start Margin */
.mr-10 {
  margin-right: 10px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mt-20 {
  margin-top: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mr-15 {
  margin-right: 15px;
}
/* End Margin */

/* Start rad */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}

.rad-half {
  border-radius: 50%;
}
/* End rad */

.w-full {
  width: 100%;
}

.btn-shape {
  border-radius: 6px;
  padding: 4px 10px;
}

.w-fit {
  width: fit-content;
}

.c-white {
  color: white;
}

.bg-blue {
  background-color: var(--blue-color);
}
