/* Start flex  */
.d-flex {
  display: flex;
}

.all-center {
  justify-content: center;
  align-items: center;
}

.v-c {
  align-items: center;
}
.h-c {
  justify-content: center;
}

.d-g2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.space-b {
  justify-content: space-between;
}
/* End flex  */

.p-r {
  position: relative;
}

.txt-c {
  text-align: center;
}


.fs-14 {
  font-size: 14px;
}

.c-black {
  color: black;
}
/* Start Padding */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
/* End Padding */



.bg-white {
  background-color: white;
}
/* Start Margin */
.mr-10 {
  margin-right: 10px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mt-0 {
  margin-top: 0;
}
/* End Margin */