/* Start Global Ruls */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.orange {
  --alt-color: rgba(245, 159, 11, 0.2);
  --color: var(--orange-color);
}
.blue {
  --alt-color: rgba(0, 119, 255, 0.2);
  --color: var(--blue-color);
}
.green {
  --alt-color: rgba(34, 197, 94, 0.2);
  --color: var(--green-color);
}
.red {
  --alt-color: rgb(244 67 54 / 0.2);
  --color: var(--red-color);
}
/* End Global Ruls */
.page {
  background-color: #f1f5f9;
  /* Start Sidbar */
  aside {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    @media (max-width: 768px) {
      & {
        width: 52px;
        padding: 10px !important;
      }
    }
    h3 {
      &::after,
      &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        background-color: black;
        left: 50%;
        translate: -50% 0;
      }
      @media (max-width: 768px) {
        &::after,
        &::before {
          display: none;
        }
        & {
          font-size: 13px;
          margin: 0 0 15px !important;
        }
      }
      &::before {
        width: 80px;
        height: 2px;
      }
      &::after {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: white 4px solid;
        bottom: -29px;
      }
    }
    ul {
      padding: 0;
      a {
        margin-bottom: 5px;
        text-transform: capitalize;
        transition: 0.3s;
        &.active {
          background-color: #f6f6f6;
        }
        &:hover {
          background-color: #f6f6f6;
        }
        span {
          margin-left: 10px;
        }
        @media (max-width: 768px) {
          span {
            display: none;
          }
        }
      }
    }
  }
  /* End Sidbar */
  .content {
    width: 100%;
    overflow: hidden;
    .head {
      .search {
        &::before {
          content: "\f002";
          position: absolute;
          font-weight: 900;
          font-family: var(--fa-style-family-classic);
          color: var(--grey-color);
          top: 50%;
          left: 15px;
          translate: 0 -50%;
          font-size: 14px;
        }
        input {
          border-radius: 10px;
          font-size: 13.5px;
          border: 1px solid #ccc;
          padding-left: 30px;
          margin-left: 5px;
          width: 160px;
          transition: 0.3s width;
          &:focus {
            width: 200px;
            outline: none;
            &::placeholder {
              color: transparent;
            }
          }
        }
      }
      .icons {
        > span::before {
          content: "";
          position: absolute;
          background-color: var(--red-color);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: -5px;
          right: -5px;
        }
        img {
          width: 30px;
          height: 30px;
          margin-left: 15px;
        }
      }
    }
    > h1 {
      margin: 20px 20px 40px;
      &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 120px;
        height: 3px;
        left: 0;
        bottom: -10px;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #000;
        width: 40px;
        height: 3px;
        left: 0;
        bottom: -10px;
      }
    }
    .warpper {
      margin: 0 20px;
      @media (max-width: 767px) {
        & {
          grid-template-columns: minmax(200px, 1fr);
          margin: 0 10px;
          gap: 10px;
        }
      }
      > section {
        box-shadow: 0 0 10px rgb(0 0 0 / 5%);
      }
      /* Start welcome Widght */
      .welcome {
        .intro {
          background-color: #eee;
          text-transform: capitalize;
          border-radius: 10px 10px 0 0;
          @media (max-width: 767px) {
            & {
              text-align: center;
              padding-bottom: 30px;
              img {
                display: none;
              }
            }
          }
          h2 {
            margin: 0;
          }
          p {
            margin: 5px 0 16px;
            color: var(--grey-color);
          }
          img {
            width: 200px;
            margin-bottom: -10px;
          }
        }
        > img {
          width: 64px;
          margin-left: 20px;
          margin-top: -32px;
          border: solid 2px white;
          border-radius: 50%;
          padding: 2px;
          box-shadow: 0 0 5px #ddd;
          @media (max-width: 767px) {
            & {
              margin: -32px auto 0;
            }
          }
        }
        .body {
          border-top: solid 1px #eee;
          border-bottom: solid 1px #eee;
          div {
            flex: 1;
            span {
              display: block;
              margin-top: 10px;
              font-size: 14px;
              color: var(--grey-color);
            }
          }
        }
        .visit {
          transition: 0.3s;
          margin: 0 15px 15px auto;
          &:hover {
            background-color: var(--blue-alt-color);
          }
        }
      }
      /* End welcome Widght */
    }
    /* Start Quick Draft Widght */
    .quick-draft input[type="submit"] {
      margin-left: auto;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: var(--blue-alt-color);
      }
    }
    /* End Quick Draft Widght */
    /* Start Targets Widght */
    .targets {
      .target-row {
        margin-bottom: 20px;
        align-items: center;
        .icons {
          width: 80px;
          height: 80px;
          margin-right: 15px;
          background-color: var(--alt-color);
          i {
            color: var(--color);
          }
        }
        div:last-child {
          flex: 1;
        }
        .progress {
          width: 100%;
          height: 4px;
          background-color: var(--alt-color);
          span {
            height: inherit;
            position: absolute;
            background-color: var(--color);
            span {
              right: -16px;
              bottom: 16px;
              padding: 3px 5px;
              font-size: 13px;
              height: unset;
              &::after {
                content: "";
                position: absolute;
                border-width: 5px;
                border-color: transparent;
                border-style: solid;
                border-top-color: var(--color);
                bottom: -10px;
              }
            }
          }
        }
      }
    }
    /* End Targets Widght*/
    /* Start Tickets Widght */
    .tickets .box {
      border: #ccc solid 1px;
      width: calc(50% - 10px);
      @media (max-width: 767px) {
        & {
          width: 100%;
        }
      }
    }
    /* End Tickets Widght */
    /* Start Latest News Widght */
    .latest-news > div {
      &:not(:last-child) {
        border-bottom: #eee 1px solid;
      }
      .info {
        flex: 1;
        h3 {
          margin: 0 0 6px;
          font-size: 16px;
        }
      }
      img {
        width: 100px;
      }
    }
    /* End Latest News Widght */
    /* Start Tasks Widght */
    .task-row i {
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: var(--red-color);
      }
    }
    .task-row.done {
      opacity: 0.3;
      h3,
      p {
        text-decoration: line-through;
      }
    }
    /* End Tasks Widght */
    /* Start Latest Uploads Widght */
    .latest-uploads img {
      width: 40px;
      margin-right: 10px;
    }
    /* End Latest Uploads Widght */
    /* Start Last Project Widght */
    .last-project li {
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: relative;
        outline: 2px solid var(--blue-color);
        border: solid white 2px;
        border-radius: 50%;
        margin-right: 15px;
        z-index: 2;
      }
      &.done::before {
        background-color: var(--blue-color);
      }
      &.current::before {
        animation: change-color 0.8s linear infinite alternate;
      }
    }
    .last-project img {
      width: 160px;
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.1;
    }
    /* End Last Project Widght */
    /* Start Reminders Widght */
    .reminders {
      li div {
        border-left: solid 2px var(--color);
      }
      .key {
        background-color: var(--color);
        width: 15px;
        height: 15px;
      }
    }
    /* End Reminders Widght */
    /* Start latest post Widght */
    .latest-post {
      .body {
        line-height: 1.8;
        min-height: 140px;
      }
    }
    /* End latest post Widght */
    /* Start Social Media Widght */
    .social-media .box {
      padding-left: 70px;
      &.twitter {
        --box-color: #1da1f2;
        background-color: rgb(29 161 242 / 20%);
      }
      &.facebook {
        --box-color: #1877f2;
        background-color: rgb(24 119 242 / 20%);
      }
      &.youtube {
        --box-color: red;
        background-color: rgb(255 0 0 / 20%);
      }
      &.linkedin {
        background-color: rgba(0, 118, 181, 0.2);
        --box-color: #0077b5;
      }
      i {
        position: absolute;
        transition: 0.3s;
        top: 0;
        left: 0;
        background-color: var(--box-color);
        width: 52px;
      }
      span {
        color: var(--box-color);
      }
      a {
        background-color: var(--box-color);
      }
    }
    /* End Social Media Widght */
    /* Start Projects Table */
    .projects .table {
      overflow-x: auto;
      table {
        min-width: 1000px;
        border-spacing: 0;
        tr td {
          padding: 15px;
        }
        thead {
          td {
            font-weight: bold;
            background-color: #eee;
          }
        }
        tbody {
          tr {
            &:hover td {
              background-color: #faf7f7;
            }
            td {
              border-left: #eee solid 1px;
              border-bottom: #eee solid 1px;
              transition: 0.3s;
              &:last-child {
                border-right: solid #eee 1px;
              }
              span {
                font-size: 13px;
              }
            }
            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              &:not(:first-child) {
                margin-left: -20px;
              }
            }
          }
        }
      }
    }
    /* End Projects Table */
  }
}

/* Start Settings Page */
.warpper {
  /* Start Settings Box */
  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
  }
  .toggle-checkbox {
    + .toggle-switch {
      border-radius: 16px;
      background-color: #ccc;
      height: 32px;
      width: 78px;
      transition: 0.3s;
      position: relative;
      cursor: pointer;
      &::before {
        font-family: var(--fa-style-family-classic);
        content: "\f00d";
        font-weight: 900;
        position: absolute;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #aaa;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        top: 4px;
        left: 4px;
        transition: 0.3s;
      }
    }
    &:checked + .toggle-switch {
      background-color: var(--blue-color);
      &::before {
        left: calc(100% - 4px);
        translate: -100% 0;
        color: var(--blue-color);
        content: "\f00c";
      }
    }
  }
  section textarea {
    min-height: 150px;
    resize: none;
    border: #ccc solid 1px;
  }
  section input:disabled {
    background-color: #f0f4f8;
    color: #bbb;
    cursor: no-drop;
    width: calc(100% - 80px);
  }
  section .button {
    transition: 0.3s;
    &:hover {
      background-color: var(--blue-alt-color);
    }
  }
  .widght-control .control {
    label {
      position: relative;
      cursor: pointer;
      padding-left: 30px;
      &::before,&::after {
        position: absolute;
        border-radius: 4px;
        left: 0%;
        top: 0;
      }
      &::before {
        content: '';
        width: 14px;
        height: 14px;
        border: 2px solid var(--grey-color);
      }
      &::after {
        font-family: var(--fa-style-family-classic);
        content: '\f00c';
        background-color: var(--blue-color);
        color: white;
        font-weight: 900;
        width: 18px;
        height: 18px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0) rotate(360deg);
        transition: .3s;
      }
      &:hover::before {
        border: 2px solid var(--blue-color);
      }
    }
    input:checked+ label::after {
      transform: scale(1);
    }
  }
  /* End Settings Box */
}
/* End Settings Page */

@keyframes change-color {
  0% {
    background-color: var(--blue-color);
  }
  100% {
    background-color: white;
  }
}
